.cardHover {
    box-shadow: none; 
    transition: box-shadow 0.3s ease;
}

.cardHover:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 102, 0.2), 0 6px 20px 0 rgba(0, 0, 102, 0.19);
}

.buttonHover {
    color: white;
    background-color: #000066;
    transition: background-color 0.3s ease;
    border-color: #000066;
}
.buttonHover:hover {
    background-color: white;
    color: #000066;
    border-color: #000066;
}

.blButtonHover {
    color: white;
    background-color: black;
    transition: background-color 0.3s ease;
    border-color: black;
}
.blButtonHover:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.rButtonHover {
    color: white;
    background-color: red;
    transition: background-color 0.3s ease;
    border-color: red;
}
.rButtonHover:hover {
    background-color: white;
    color: red;
    border-color: red;
}

.yButtonHover {
    color: white;
    background-color: rgb(187, 187, 37);
    transition: background-color 0.3s ease;
    border-color: rgb(187, 187, 37);
}
.yButtonHover:hover {
    background-color: white;
    color: rgb(187, 187, 37);
    border-color: rgb(187, 187, 37);
}

.iconHover {
    display: inline-block;
    transition: filter 0.3s ease;
}
.iconHover:hover {
    filter: drop-shadow(0px 0px 10px rgba(0, 68, 255, 1));
}